<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>AI Chat</title>
</head>

<body>

    <form method="POST">
        用户：
        <input
            type="text"
            name="input_text"
            style="padding:10px;margin:10px;width:300px;"
        >
        <input type="submit" value="发送">
    </form>
    <hr>
    <h3>AI回复：</h3>
    <div
        style="
            border:1px solid #ccc;
            padding:20px;
            min-height:100px;
        "
    >
        {{ response|safe }}
    </div>
</body>
</html>